@font-face {
    font-family: C64base;
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/c64.ttf);
}

body {
    font-family: C64base;
    background-color: #A6A1FF;
    color: #A6A1FF;
    font-size: 12pt
}

.navbar {
    border: none;
    margin-bottom: 0;
}

.navbar-brand {
    height: auto;
}

.container {
    background-color: #4342E6;
}

.main-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.item {
    border: 2px solid #A6A1FF;
    padding: 10px;
}

.list-group {
    box-shadow: none;
}

.list-group-item {
    background-color: #4342E6;
    border: none;
}

a.list-group-item,
button.list-group-item {
    color: #A6A1FF;
}

.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}

a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

a.custom-link {
    color: #A6A1FF;
    text-decoration: underline;
}

a.custom-link:hover {
    background-color: white;
    color: black;
    text-decoration: none;
}

.post-button {
    display: inline-block;
    margin-bottom: 0;
}

.error-container {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    background-color: white;
    color: black;
    font-family: monospace;
    font-size: 10px;
}

.cricket-score {
    height: 10px;
    margin-top: 5px;
}
.cricket-score.closed {
    background-color: #DC0909;
}
.cricket-score.open {
    background-color: #837DED;
}

.current {
    color: #48FF48;
}

.table.score thead td {
    text-align: center;
}